<% if signed_in? %>
<div class = "row">
	<aside class = "span4">
		<section> <h1> <%= @current_user.name %> </h1> </section>
		<section> <%= render 'events/form' %> </section>
	</aside>
	<div class = "span8">
		<%= render 'shared/feed' %>
	</div>
</div>

<% else %>
<div class="row">
  <div class="col-md-4 col-md-offset-1 text-center">
    <h1>Who is going to Dining Center?</h1>
    <p>Worry about no accompanies for dinner? Check out your friends here!</p>
    <p><%= link_to "SIGN UP NOW!", signup_path, class: 'btn btn-large btn-primary' %>
  </div>
  <div class="col-md-4 col-md-offset-1"><%= render 'users/signup' %></div>
</div>
<% end %>
