<% provide(@user)%>

<h2>
	<%= gravatar_for @user %>	
	<%= @user.name %>
</h2>
<ul>
	<% if current_user?(@user) %>
	  <li><a href="http://gravatar.com/emails">Change your profile picture</a></li>
	<% end %>
	<li>Email <%= @user.email %></li>
	
	<%if current_user?(@user) %>	
	  <li>
		  Friends: 
		  <ul>
		    <% @user.friendeds.each do |friend| %>
		      <li><%= link_to friend.name, friend %></li>
		    <% end %>
		  </ul>
      </li>
    <% else %>
      <li>
      	<div id="friends_form">
      	  <% if current_user.friend?(@user) %>
      	     <%= render 'defriend' %>
      	  <% else %>
      	     <%= render 'friend' %>      	    
      	  <% end %>      	
      	</div>
      </li>
    <% end %>
</ul>

