<% provide(@user)%>

<div class = "contentbox">
   <%= render partial:'shared/user_info', locals: {user: @user} %>
    
    <div class = "feeds">
        <h1><%= @user.name%>'s Past Feed</h1>
        <% if @user.events.any? %>
            <h4><ul>
            <% @user.events.each do |e| %>
                <li>
                <%= link_to @user.name, @user %> was going to <%= e.where %> <%= time_ago_in_words(e.created_at) %> ago.
                <% if current_user?(@user) %>
                    <%= link_to "delete", e, method: :delete, confirm: "you sure?", title: "Delete Post" %>
                <% end %>
                </li>
              <% end %>      
           </ul></h4>
        <% end %>
    </div>
</div>

