<header>
	<nav class="navbar navbar-default" role="navigation">

		<div class="navbar-header">
			<%= link_to root_path do %>
			  <%= image_tag "logo.png", size: "210x45" %>
			<% end %>		
		</div>
		
	
		<ul class="nav navbar-nav navbar-right">

			<% if signed_in? %>
			<li>
				<%= link_to @current_user.name, @current_user %>
			</li>
			<li>
				<%= link_to "Log out", signout_path, method: "delete" %>
			</li>

			<% else %>
			<li>
				<%= link_to "Log in", signin_path %>
			</li>
			<li>
				<%= link_to "Sign up", signup_path %>
			</li>
			<% end %>
		</ul>
			
		
		<%= form_tag users_path, method: 'get', role: 'search', class: 'navbar-form navbar-right' do %>
        
          	<div class="form-group">
  	          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for friends'%>  	          
  	        </div>
  	        <%= submit_tag "O", name: nil, class: 'btn btn-default' %>        
        <% end %>

		
		</div>
	</nav>

</header>

